@model P4.Models.ProfileModel

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Create Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>

        body {
            background-color: #f8f9fa; /* Light gray background */
        }

        .container {
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <h2>Create Profile</h2>

            <div class="form-group">
                <label for="txtProfilePhoto">Profile Photo URL:</label>
                <input id="txtProfilePhoto" name="PhotoURL" asp-for="PhotoURL" class="form-control" />
                <span asp-validation-for="PhotoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="txtName">Name:</label>
                <input ID="txtName" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtAddress">Address:</label>
                <input ID="txtAddress" runat="server" CssClass="form-control">
            </div>

            <div class="form-group">
                <label for="txtCity">City:</label>
                <input ID="txtCity" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtState">State:</label>
                <input ID="txtState" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtPhone">Phone:</label>
                <input ID="txtPhone" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtOccupation">Occupation:</label>
                <input ID="txtOccupation" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtAge">Age:</label>
                <input ID="txtAge" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtHeight">Height (cm):</label>
                <input ID="txtHeight" runat="server" CssClass="form-control">

            </div>
            <div class="form-group">
                <label for="txtWeight">Weight:</label>
                <input ID="txtWeight" runat="server" CssClass="form-control">

            </div>
            <div class="form-group">
                <label for="ddlCommitmentType">Commitment Type:</label>
                <select class="form-control" id="StudentGender" name="CommitmentType">
                    <option>Friends</option>
                    <option>Dating</option>
                    <option>Long Term</option>
                </select>
            </div>
            <div class="form-group">
                <label for="txtInterests">Interests:</label>
                <input ID="txtInterests" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtLikes">Likes:</label>
                <input ID="txtLikes" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtDisLikes">Dislikes:</label>
                <input ID="txtDislikes" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtFavoriteRestaurants">Favorite Restaurants:</label>
                <input ID="txtFavoriteRestaurants" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtFavoriteMovies">Favorite Movies:</label>
                <input ID="txtFavoriteMovies" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtFavoriteBooks">Favorite Books:</label>
                <input ID="txtFavoriteBooks" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtFavoriteQuotes">Favorite Quotes:</label>
                <input ID="txtFavoriteQuotes" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtGoals">Goals:</label>
                <input ID="txtGoals" runat="server" CssClass="form-control">
            </div>
            <div class="form-group">
                <label for="txtDescription">Description:</label>
                <input ID="txtDescription" runat="server" CssClass="form-control">
            </div>
            <button id="btnCreateProfile" type="submit" class="btn btn-primary" asp-controller="ProfileCreate" asp-action="ProfileCreate">Submit</button>
        </div>
    </form>
</body>
</html>
